#!/bin/bash

# app variables
BOT_TOKEN=
AWS_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
DATABASE_URL=postgresql://username:password@localhost:5432/database_name?pool=5
RACK_ENV=production
RAILS_ENV=production
SECRET_KEY_BASE=
REDIS_URL=redis://localhost

# rails variables
RAILS_MAX_THREADS=5
RAILS_SERVE_STATIC_FILES=
RAILS_LOG_TO_STDOUT=True
