@import "bootstrap-sprockets";
@import "bootstrap";
@import "theme";


.map {
	width: 810px;
	margin: 0 auto;
}

.desc {
	padding-top: 20px;
}

.buttons {

}

body {
	padding-top: 70px;
}

.navbar-right {
	margin-right: auto;
}