@import "bootstrap-sprockets";
@import "bootstrap";
@import "theme";
@import "grid";
@import "leaflet";

.map {
  width: 810px;
  margin: 0 auto;
}

body {
  padding-top: 90px;
}

.navbar-right {
  margin-right: auto;
}
