<%= form_for message, url: message_path(message) do |f| %>
	<div class="col-md-6">
	<%= f.select(:status,
							options_for_select([['New', message.status = 'new_message'],
																	['Done', message.status = 'done'],
																	['Actual', message.status = 'actual'],
																	['Not relevant', message.status = 'not_relevant']])
							) %>
	</div>
	<div class="col-md-6">
	<%= f.submit 'Обновить статус', class: 'btn btn-primary btn-xs' %>
	</div><br>
<% end %>
