<h1>Архивные категории</h1>
<table class="table">
	<tr>
		<th>Название</th>
		<th>Действия</th>
	</tr>

	<% @categories.each do |category| %>
		<tr>
			<td><%= category.title %></td>
			<td><%= link_to 'Восстановить', unarchiving_categories_path(category), method: :post %></td>
		</tr>
	<% end %>
</table>
<%= link_to "Показать все категории", categories_path %>



<p><%= link_to "Новая категория", new_category_path %></p>