<p>Здравствуйте <%= @resource.email %>!</p>

<p>Вы (или кто-то еще) запросили изменение пароля. Для изменения пароля нажмите ссылку ниже:</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали изменение пароля - проигнорируйте это сообщение.</p>
<p>Ваш пароль не изменится пока вы не нажмете на ссылку и не введете новый.</p>
